## SvenCo-op map CFG file - The Void
## Map Author: Hezus
## Author e-mail: fatterdukeine2@yahoo.dk
## Website: http://www.geocities.com/fatterdukeine2


## Physics stuff. 
## Don't change unless you know what you're doing!! 
sv_accelerate 10
sv_airaccelerate 10
sv_friction 4
sv_gravity 800
sv_maxspeed 300
sv_wateraccelerate 10
sv_waterfriction 1
